body
{
	background-color: orange;
}

main
{
	background-color: orange; 
	width: 100%;
	padding-top: 40px;
}

.button
{
	height: 50px;
}

h2
{
	text-align: center;
	color: #333333;
	font-family: Verdana;
	font-weight: bold;
}

label
{
	color: purple;
	font-weight: bold;
}

#warning
{
	font-weight: bold;
	color: red;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	text-decoration: underline;
}

.valid
{
	color: red;
	font-weight: bold;
}

#en
{
	color: blue;
	font-family: Arial;
}